Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

soln:

In [1]:
import pandas as pd

# Create the Pandas Series
series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

soln

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the resulting series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

soln:

In [3]:
import pandas as pd

# Create a dictionary containing the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the Pandas DataFrame
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

soln:

DataFrame is a two-dimensional labeled data structure in pandas. It is similar to a spreadsheet or SQL table, and can be thought of as a collection of Pandas Series objects with a shared index.

In contrast, Series is a one-dimensional labeled array that can hold any data type, such as integers, strings, or floats.

In [4]:
import pandas as pd

# Creating a Pandas Series
my_series = pd.Series([10, 20, 30, 40, 50])

# Creating a Pandas DataFrame
my_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Male']
})

# Printing the Pandas Series and DataFrame
print(my_series)
print(my_df)

0    10
1    20
2    30
3    40
4    50
dtype: int64
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male

we first create a Pandas Series called my_series that contains a list of integers. We then create a Pandas DataFrame called my_df that contains three columns: 'Name', 'Age', and 'Gender', and three rows of data.

When we print my_series, the output shows a one-dimensional array of integers:
When we print my_df, the output shows a two-dimensional table with three columns and three rows:
while Pandas Series is a one-dimensional array-like object, Pandas DataFrame is a two-dimensional table-like object with columns of potentially different types.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

soln:

There are many functions and methods in Pandas that can be used to manipulate data in a DataFrame. Here are some common ones:

head() and tail(): These functions allow you to view the first or last few rows of the DataFrame. For example, you might use df.head() to quickly check the first few rows of the DataFrame.

describe(): This function generates summary statistics for the numeric columns in the DataFrame, such as count, mean, standard deviation, and quartiles. You might use df.describe() to get a sense of the range and distribution of values in the DataFrame.

sort_values(): This method allows you to sort the rows of the DataFrame based on the values in one or more columns. For example, you might use df.sort_values('Age') to sort the rows by the 'Age' column in ascending order.

groupby(): This method allows you to group the rows of the DataFrame based on one or more columns, and then apply a function to each group. For example, you might use df.groupby('Gender')['Age'].mean() to calculate the mean age of each gender group.

drop(): This method allows you to drop rows or columns from the DataFrame based on their labels. For example, you might use df.drop('Gender', axis=1) to drop the 'Gender' column from the DataFrame.

fillna(): This method allows you to fill missing values in the DataFrame with a specified value or method. For example, you might use df.fillna(0) to fill all missing values with zero.

apply(): This method applies a function to each element of the DataFrame. You might use it to apply a custom function to a column or row of the DataFrame.

These are just a few examples of the many functions and methods available in Pandas for manipulating data in a DataFrame. The specific function you choose to use will depend on the task you're trying to accomplish and the structure of your data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

soln:

Both Series and DataFrame are mutable in nature, while Panel is not.

In Pandas, a mutable object can be modified after it is created, while an immutable object cannot. In other words, when you change a mutable object, the changes are reflected in the original object, while with an immutable object, a new object is created with the changes.

Series and DataFrame are mutable because you can modify their values, add or delete rows and columns, and perform other operations that change their structure or content. For example, you can add a new column to a DataFrame using the assignment operator:

In [5]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Male']
})

df['Country'] = ['USA', 'Canada', 'Australia']

print(df)

      Name  Age  Gender    Country
0    Alice   25  Female        USA
1      Bob   30    Male     Canada
2  Charlie   27    Male  Australia

Panel, on the other hand, is immutable, which means that once you create a Panel, you cannot modify it. However, you can create a new Panel by performing operations on an existing one. Because Panel has been deprecated since version 0.25.0, it is recommended to use the more versatile and efficient multi-dimensional data structures like xarray instead.

Q7. Create a DataFrame using multiple Series. Explain with an example.

soln:

In [1]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Male'])

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male