Q1. List any five functions of the pandas library with execution.

soln:

import pandas as pd

# Read CSV file into DataFrame
df = pd.read_csv('data.csv')

# Print first 5 rows of DataFrame
print(df.head())

In [2]:
import pandas as pd

# Create DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, 3, None], 'B': [4, None, 6, None]})

# Remove rows with missing values
df = df.dropna()

# Print DataFrame after removing missing values
print(df)

     A    B
0  1.0  4.0
2  3.0  6.0

In [4]:
import pandas as pd

# Create DataFrame with two columns
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'], 'B': [1, 2, 3, 4]})

# Group DataFrame by column A and calculate mean of column B
grouped = df.groupby('A').mean()

# Print grouped DataFrame
print(grouped)

       B
A
bar  3.0
foo  2.0

In [5]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': ['foo', 'bar', 'baz'], 'B': [1, 2, 3]})
df2 = pd.DataFrame({'A': ['foo', 'baz', 'qux'], 'C': [4, 5, 6]})

# Merge DataFrames on column A
merged = pd.merge(df1, df2, on='A')

# Print merged DataFrame
print(merged)

     A  B  C
0  foo  1  4
1  baz  3  5

In [6]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({'A': ['foo', 'bar', 'baz'], 'B': [1, 2, 3]})

# Write DataFrame to CSV file
df.to_csv('data.csv', index=False)

# Read CSV file and print contents
with open('data.csv', 'r') as f:
    print(f.read())

A,B
foo,1
bar,2
baz,3

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

soln:

In [7]:
import pandas as pd

def reindex_dataframe(df):
    # Create new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, step=2, stop=2*len(df)+1)
    
    # Assign new index to DataFrame
    df.index = new_index
    
    # Return DataFrame with new index
    return df

In [8]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Call function to re-index DataFrame
df = reindex_dataframe(df)

# Print re-indexed DataFrame
print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

soln:

In [9]:
import pandas as pd

def sum_first_three(df):
    # Get first three values in 'Values' column
    values = df['Values'][:3]
    
    # Calculate sum of first three values
    total = sum(values)
    
    # Print sum to console
    print(f'Sum of first three values: {total}')

In [10]:
# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call function to calculate sum of first three values
sum_first_three(df)

Sum of first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

soln:

In [11]:
import pandas as pd

def add_word_count(df):
    # Split 'Text' column by whitespace to get list of words
    words = df['Text'].str.split()
    
    # Count number of words in each row
    word_count = words.apply(len)
    
    # Assign 'Word_Count' column to DataFrame
    df['Word_Count'] = word_count
    
    # Return DataFrame with new column
    return df

In [12]:
df = pd.DataFrame({'Text': ['Hello world', 'The quick brown fox', 'Lorem ipsum dolor sit amet']})

# Call function to add 'Word_Count' column
df = add_word_count(df)

# Print DataFrame with new column
print(df)

                         Text  Word_Count
0                 Hello world           2
1         The quick brown fox           4
2  Lorem ipsum dolor sit amet           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

soln:

DataFrame.size and DataFrame.shape are two different methods that return different information about a DataFrame:

DataFrame.size: This method returns the total number of elements in a DataFrame, which is equal to the number of rows multiplied by the number of columns. The result is a single integer value. For example, if a DataFrame has 5 rows and 3 columns, its size will be 15.

DataFrame.shape: This method returns a tuple representing the dimensions of a DataFrame, in the format (num_rows, num_columns). The result is a tuple of two integer values. For example, if a DataFrame has 5 rows and 3 columns, its shape will be (5, 3).

In [13]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Print size and shape of DataFrame
print(df.size)  # Output: 9
print(df.shape)  # Output: (3, 3)

9
(3, 3)

Q6. Which function of pandas do we use to read an excel file?

soln:

import pandas as pd

# Read Excel file into DataFrame
df = pd.read_excel('path/to/excel_file.xlsx')

# Print DataFrame
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

soln:

In [15]:
import pandas as pd

def add_username_column(df):
    # Split 'Email' column by '@' symbol to get list of username and domain
    email_parts = df['Email'].str.split('@')
    
    # Extract username part and assign it to 'Username' column
    df['Username'] = email_parts.str[0]
    
    # Return DataFrame with new column
    return df

In [16]:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'jimmy.smith@example.com']})

# Call function to add 'Username' column
df = add_username_column(df)

# Print DataFrame with new column
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1     jane.doe@example.com     jane.doe
2  jimmy.smith@example.com  jimmy.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2



Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

soln:

In [17]:
import pandas as pd

def select_rows(df):
    # Select rows where value in 'A' column is greater than 5 and value in 'B' column is less than 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    # Return DataFrame with selected rows
    return selected_rows

In [18]:
# Example DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

# Call function to select rows
selected_rows = select_rows(df)

# Print selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

soln:

In [19]:
import pandas as pd

def calculate_stats(df):
    # Calculate mean, median, and standard deviation of values in 'Values' column
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    
    # Print results
    print('Mean:', mean)
    print('Median:', median)
    print('Standard Deviation:', std_dev)

In [20]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call function to calculate stats
calculate_stats(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

soln:

In [24]:
import pandas as pd

def calculate_moving_average(df):
    # Calculate moving average of sales for past 7 days
    moving_avg = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    # Add moving average column to DataFrame
    df['MovingAverage'] = moving_avg

# Example DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2022-01-01', end='2022-01-31'),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300]
})

# Call function to calculate moving average
calculate_moving_average(df)

# Print DataFrame with new column
print(df)

#output

         Date  Sales  MovingAverage
0  2022-01-01     10      10.000000
1  2022-01-02     20      15.000000
2  2022-01-03     30      20.000000
3  2022-01-04     40      25.000000
4  2022-01-05     50      30.000000
5  2022-01-06     60      35.000000
6  2022-01-07     70      40.000000
7  2022-01-08     80      45.000000
8  2022-01-09     90      50.000000
9  2022-01-10    100      55.000000
10 2022-01-11    110      60.000000
11 2022-01-12    120      65.000000
12 2022-01-13    130      70.000000
13 2022-01-14    140      75.000000
14 2022-01-15    150      80.000000
15 2022-01-16    160      85.000000
16 2022-01-17    170      90.000000
17 2022-01-18    180      95.000000
18 2022-01-19    190     100.000000
19 2022-01-20    200     105.000000
20 2022-01-21    210     110.000000
21 2022-01-22    220     115.000000
22 2022-01-23    230     120.000000
23 2022-01-24    240     125.

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

soln:

Weekday' in the DataFrame based on the 'Date' column, we can use the dt.weekday_name attribute of the pandas datetime object. Here's a Python function

In [27]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Add a new column 'Weekday' with weekday name for each date
    df['Weekday'] = df['Date'].dt.weekday_name
    
    return df

This function first converts the 'Date' column to a pandas datetime object using the pd.to_datetime() function. Then it creates a new column 'Weekday' using the dt.weekday_name attribute of the datetime object. Finally, it returns the modified DataFrame with the new 'Weekday' column.

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

soln:

You can use the pandas.DataFrame.loc method to select rows based on a condition. In this case, you can create a boolean mask by comparing the 'Date' column with the two dates, and then use the boolean mask to select the desired rows.

In [28]:
import pandas as pd

def select_january_dates(df):
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    january_df = df.loc[mask]
    return january_df

You can call this function with your DataFrame as an argument, and it will return a new DataFrame that contains only the rows where the 'Date' column is between '2023-01-01' and '2023-01-31'.

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

soln:

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. The library can be imported using the following statement:


import pandas as pd